/* Color of the navbar links - before hovering */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
    color: #F8F0E3;
}

/* Color of the navbar links - when hovered*/
.navbar-scroll .nav-link:hover,
.navbar-scroll .navbar-toggler .fa-bars:hover {
    color: #bbf8f3;
    transform: scale(1.1)
}

/* Color of the navbar links - when clicking*/
.navbar-scroll .nav-link:active,
.navbar-scroll .navbar-toggler .fa-bars:active {
    color: #bbf8f3;
}

/* Color of the navbar links - after clicking*/
.navbar-scroll .nav-link:focus,
.navbar-scroll .navbar-toggler .fa-bars:focus {
    color: #bbf8f3;
}

.navbar-scrolled {
/* Color of the navbar AFTER scroll */
    background-color: #040409; 
/* Transition after scrolling */
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-scroll {
/* Transition to the initial state */
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Color of the active page */
.active {
    color: rgb(79, 161, 157) !important;
  }

@media (max-width: 767.9px) {
/* Override transparency on devices smaller than 767.9px */    
.navbar-scroll {
    background-color: #040409;
}

.navbar-static {
/* Navbar position when not scrolled */
    position: static !important;
}  

.navbar-fixed {
/* Navbar position when scrolled */
    position: fixed !important;
    width: 100vw;
}
}

/* Navbar font */
.navbar {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* Navbar exam split buttonn */
  .btn-exam {
    color: rgb(79, 161, 157) !important;
    font-family: Helvetica, Arial, sans-serif !important;
    text-transform: none !important;
    font-size: 16px !important;
  }
  
  .btn-exam:hover {
    color: #bbf8f3 !important;
    transform: scale(1.1);
  }
  
  .dropdown-toggle:after {
    color: #F8F0E3;
    font-size: 1rem;
  }
  
  .dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    margin-left: 0.5em;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0.1em;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  
  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(-180deg);
  }
  
  .btn-group {
    box-shadow: none !important;
  }
  
  .dropdown-menu {
    background-color: transparent !important;
    border: 1px solid #ccc !important;
  }
  
  .dropdown-item {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #F8F0E3 !important;
    font-size: 16px;;
  }
  
  .dropdown-item:hover {
    color: #bbf8f3 !important;
    font-size: 1.1rem;
  }

/* Default background image height smaller than 992px */
#intro-main {
    height: 300px;
    min-width: 100vw;
}

/* Background image height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-main {
      height: 400px;
}
}

/* Mask on background image */
.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Exam heading animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Exam heading opacity and animation time */
#exam-heading {
    background-color: rgba(0, 0, 0, 0.7);
    animation: slideInFromLeft 0.9s ease-in-out; 
}
/******************************************************************************/

/* Section - photo + description */
.section {
    background-color: #040409;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Default section height for devices smaller than 992px */
.section {
    height: 100%;
}

/* Section height for devices larger than 992px */
@media (min-width: 992px) {
.section {
    min-height: 100vh;
}
}

/* Examination icon */
#examination-icon {
    max-height: 100px; 
    display: inline-block;
}

/* Examination heading */
#examination-heading {
    display: inline-block;
}

@media (max-width: 350px) {
    .resp-font-3 {
      font-size: 10vw !important;
    }
}

.resp-font-4 {
    font-size: 30px;
  }
  
@media (max-width: 350px) {
    .resp-font-4 {
        font-size: 9vw;
    }
    }

.resp-font-5 {
    font-size: 20px;
  }
  
@media (max-width: 350px) {
    .resp-font-5 {
        font-size: 7vw;
    }
    }

.resp-font-6 {
    font-size: 25px;
    }

@media (max-width: 350px) {
    .resp-font-6 {
        font-size: 6vw;
    }
}

/* Row - photo + description */
.row {
    background-color: #040409;
    color: #F8F0E3;
    max-width: 1400px;
}

/* Max examination photo width */
#examination-photo-column {
    max-width: 600px;
}

/* Image-overlay when hovered */
.image-container {
    position: relative;
    display: inline-block;
}

/* Image-overlay when hovered */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Image-overlay when hovered */
.image-overlay:hover {
    opacity: 1;
}

/* Image-overlay when hovered */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    font-size: 23px;
}

/* Image-overlay font size for devices smaller than 768px */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 16px;
    }
    #exam-icon-heading {
        flex-direction: column;
    }
}

/* Color of the buttons - when hovered*/
#button:hover {
    color: #bbf8f3;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5), 
    0 0 20px rgba(255, 255, 255, 0.2);
    border: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    transform: scale(1.1)
  }
  
/* Color of the buttons - when clicking*/
#button:active {
    color: #bbf8f3;
}

/* Color of the buttons - after clicking*/
#button:focus {
    color: #bbf8f3;
}

/* Custom button size lg */
.btn-lg {
    padding: 15px 40px !important;
    font-size: 15px !important;
  }

@media (max-width: 350px) {
    .btn-lg {
        font-size: 4vw !important;
        padding: 4vw 3vw !important;
    }
}

/******************************************************************************/
/* Footer */
#footer-1 {
background-color: #071924;
display: flex;
justify-content: center;
align-items: center;
}

/* Row footer */
#row-footer {
background-color: #071924;
color: #F8F0E3;
max-width: 1400px;
}

/* Navigation footer */
#navigation-2 {
display: inline-block;
}

/* Navigation item footer */
#nav-item-2 {
display: inline-block;
padding: 5px;
}

/* Navigation link footer */
#nav-link-2 {
display: block;
}

/* Color of the navigation and social media links - footer - when hovered*/
#nav-link-2:hover, 
#nav-link-3:hover {
color: #bbf8f3;
transform: scale(1.1);
}

/* Color of the navigation and social media links - footer - when clicking*/
#nav-link-2:active,
#nav-link-3:active {
color: #bbf8f3;
}

/* Color of the navigation and social media links - footer - after clicking*/
#nav-link-2:focus,
#nav-link-3:focus {
color: #bbf8f3;
}

/* Right footer max-width */
#right-footer {
max-width: 500px;
}

#omegaskan-banner-footer {
height: 100px;
}

/* Default section height for devices larger than 992px */
@media (max-width: 992px) {
#omegaskan-banner-footer {
    height: 20vw !important;
}
}

.resp-font-2 {
font-size: 15px;
}

@media (max-width: 350px) {
.resp-font-2 {
    font-size: 5vw;
}
}

/* Font heading */
#heading-font {
    font-family: "Times New Roman", Times, serif;
    color: rgb(79, 161, 157);
  }