/* Color of the navbar links - before hovering */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
    color: #F8F0E3;
}

/* Color of the navbar links - when hovered*/
.navbar-scroll .nav-link:hover,
.navbar-scroll .navbar-toggler .fa-bars:hover {
    color: #bbf8f3;
    transform: scale(1.1)
}

/* Color of the navbar links - when clicking*/
.navbar-scroll .nav-link:active,
.navbar-scroll .navbar-toggler .fa-bars:active {
    color: #bbf8f3;
}

/* Color of the navbar links - after clicking*/
.navbar-scroll .nav-link:focus,
.navbar-scroll .navbar-toggler .fa-bars:focus {
    color: #bbf8f3;
}

.navbar-scrolled {
/* Color of the navbar AFTER scroll */
    background-color: #040409; 
/* Transition after scrolling */
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-scroll {
/* Transition to the initial state */
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Color of the active page */
.active {
    color: rgb(79, 161, 157) !important;
  }

@media (max-width: 767.9px) {
/* Override transparency on devices smaller than 767.9px */    
.navbar-scroll {
    background-color: #040409;
}

.navbar-static {
/* Navbar position when not scrolled */
    position: static !important;
}  

.navbar-fixed {
/* Navbar position when scrolled */
    position: fixed !important;
    max-width: 100vw;
}
}

/* Navbar font */
.navbar {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* Navbar exam split buttonn */
  .btn-exam {
    color: #F8F0E3 !important;
    font-family: Helvetica, Arial, sans-serif !important;
    text-transform: none !important;
    font-size: 16px !important;
  }
  
  .btn-exam:hover {
    color: #bbf8f3 !important;
    transform: scale(1.1);
  }
  
  .dropdown-toggle:after {
    color: #F8F0E3;
    font-size: 1rem;
  }
  
  .dropdown-toggle::after {
    content: "";
    display: inline-block;
    width: 0.3em;
    height: 0.3em;
    margin-left: 0.5em;
    border-style: solid;
    border-width: 0.1em 0.1em 0 0.1em;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
  }
  
  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(-180deg);
  }
  
  .btn-group {
    box-shadow: none !important;
  }
  
  .dropdown-menu {
    background-color: transparent !important;
    border: 1px solid #ccc !important;
  }
  
  .dropdown-item {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #F8F0E3 !important;
    font-size: 16px;;
  }
  
  .dropdown-item:hover {
    color: #bbf8f3 !important;
    font-size: 1.1rem;
  }

/* Default background image height smaller than 992px */
#intro-main {
    height: 300px;
}

/* Background image height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-main {
      height: 400px;
}
}

/* Mask on background image */
.mask {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Exam heading animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Exam heading opacity and animation time */
#exam-heading {
    background-color: rgba(0, 0, 0, 0.7);
    animation: slideInFromLeft 0.9s ease-in-out; 
}
/******************************************************************************/

/* Section background */
.section {
    background-color: #040409;
    
}

/* Max width of content */
#prices {
    max-width: 1400px;
    margin: 0 auto;
}

/* Examination icon size for devices larger than 768px*/
#examination-icon {
    max-width: 100px; 
    display: inline-block;
}

/* Accordion heading font size for devices larger than 768px */
.accordion-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px !important;
    color: #F8F0E3 !important;
}

/* Active accordion-button background color */
.accordion-button:not(.collapsed) {
    background-color: #071924 !important; 
  }

/* Accordion heading font size and examination icon size
for devices smaller than 768px */
@media (max-width: 768px) {
    .accordion-button {
        font-size: 30px !important;
    }
    #examination-icon {
        max-width: 60px;
    }
}

/* Accordion arrow color */
.accordion-button:after {
    background-image: 
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bbf8f3'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") 
    !important;
}

/* Custom table head */
.table-head {
    color: rgb(79, 161, 157) !important;
    font-size: 40px;
}

/* Custom table body*/
.table-body {
    color: #F8F0E3 !important;
    font-size: 30px;
}

.table tbody tr:hover {
    background-color:#071924;
  }

/* Table head and body font size for devices smaller than 768px */
@media (max-width: 768px) {
    .table-head {
        font-size: 25px;
    }

    .table-body {
        font-size: 18px;
    }
}

/******************************************************************************/
/* Footer */
#footer-1 {
background-color: #071924;
display: flex;
justify-content: center;
align-items: center;
}

/* Row footer */
#row-footer {
background-color: #071924;
color: #F8F0E3;
max-width: 1400px;
}

/* Navigation footer */
#navigation-2 {
display: inline-block;
}

/* Navigation item footer */
#nav-item-2 {
display: inline-block;
padding: 5px;
}

/* Navigation link footer */
#nav-link-2 {
display: block;
}

/* Color of the navigation and social media links - footer - when hovered*/
#nav-link-2:hover, 
#nav-link-3:hover {
color: #bbf8f3;
transform: scale(1.1);
}

/* Color of the navigation and social media links - footer - when clicking*/
#nav-link-2:active,
#nav-link-3:active {
color: #bbf8f3;
}

/* Color of the navigation and social media links - footer - after clicking*/
#nav-link-2:focus,
#nav-link-3:focus {
color: #bbf8f3;
}

/* Right footer max-width */
#right-footer {
max-width: 500px;
}

#omegaskan-banner-footer {
height: 100px;
}

/* Default section height for devices larger than 992px */
@media (max-width: 992px) {
#omegaskan-banner-footer {
    height: 20vw !important;
}
}

.resp-font-2 {
font-size: 15px;
}

@media (max-width: 350px) {
.resp-font-2 {
    font-size: 5vw;
}
}

/* Font heading */
#heading-font {
    font-family: "Times New Roman", Times, serif;
    color: rgb(79, 161, 157);
  }