/* Color of the navbar links - before hovering */
.navbar-scroll .nav-link,
.navbar-scroll .navbar-toggler .fa-bars {
  color: #F8F0E3;
}

/* Color of the navbar links - when hovered*/
.navbar-scroll .nav-link:hover,
.navbar-scroll .navbar-toggler .fa-bars:hover {
  color: #bbf8f3;
  transform: scale(1.1);
}

/* Color of the navbar links - when clicking*/
.navbar-scroll .nav-link:active,
.navbar-scroll .navbar-toggler .fa-bars:active {
  color: #bbf8f3;
}

/* Color of the navbar links - after clicking*/
.navbar-scroll .nav-link:focus,
.navbar-scroll .navbar-toggler .fa-bars:focus {
  color: #bbf8f3;
}


.navbar-scrolled {
/* Color of the navbar AFTER scroll */
  background-color: #040409; 
/* Transition after scrolling */
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.navbar-scroll {
/* Transition to the initial state */
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Color of the active page */
.active {
  color: rgb(79, 161, 157) !important;
}

@media (max-width: 767.9px) {
  /* Override transparency on devices smaller than 767.9px */    
    .navbar-scroll {
      background-color: #040409;
    }

  .navbar-static {
/* Navbar position when not scrolled */
    position: static !important;
  }
  
  .navbar-fixed {
/* Navbar position when scrolled */
      position: fixed !important;
      width: 100vw;
  }
}

/* Navbar font */
.navbar {
  font-family: Helvetica, Arial, sans-serif;
}

/* Navbar exam split buttonn */
.btn-exam {
  color: #F8F0E3 !important;
  font-family: Helvetica, Arial, sans-serif !important;
  text-transform: none !important;
  font-size: 16px !important;
}

.btn-exam:hover {
  color: #bbf8f3 !important;
  transform: scale(1.1);
}

.dropdown-toggle:after {
  color: #F8F0E3;
  font-size: 1rem;
}

.dropdown-toggle::after {
  content: "";
  display: inline-block;
  width: 0.3em;
  height: 0.3em;
  margin-left: 0.5em;
  border-style: solid;
  border-width: 0.1em 0.1em 0 0.1em;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

.btn-group {
  box-shadow: none !important;
}

.dropdown-menu {
  background-color: transparent !important;
  border: 1px solid #ccc !important;
}

.dropdown-item {
  background-color: rgba(0, 0, 0, 0.9) !important;
  color: #F8F0E3 !important;
  font-size: 16px;;
}

.dropdown-item:hover {
  color: #bbf8f3 !important;
  font-size: 1.1rem;
}

/* Default background image height for devices smaller than 992px */
#intro-main {
  height: 500px;
}

/* Background image height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-main {
    height: 1050px;
  }
}

/* Mask on background image */
.mask {
  background-color: rgba(0, 0, 0, 0.6);
}

/* OmegaSkan banner zoom-in animation */
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Banner max-width and animation time */
#omegaskan-banner {
    width: 80%;
    max-width: 1300px;
    animation: zoomIn 0.7s ease-in-out;
  }

/* Custom button size xl */
.btn-xl {
  padding: 15px 40px !important;
  font-size: 25px !important;
}


/* Color of the buttons - when hovered*/
#button:hover {
  color: #bbf8f3;
  box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.5), 
  0 0 20px rgba(255, 255, 255, 0.2);
  border: 1px solid;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  transform: scale(1.1)
}

/* Color of the buttons - when clicking*/
#button:active {
  color: #bbf8f3;
}

/* Color of the buttons - after clicking*/
#button:focus {
  color: #bbf8f3;
}
/******************************************************************************/

/* Section */
#section {
  background-color: #040409;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 900px;
}

  /* Section 2 */
#section-2 {
  background-color: #040409;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1050px;
}

@media (max-width: 992px) {
#section-2 {
    min-height: 100vw;
  }
}

/* Row */
#row-section {
  background-color: #040409;
  color: #F8F0E3;
  max-width: 1400px;
}

/* Font heading */
#heading-font {
  font-family: "Times New Roman", Times, serif;
  color: rgb(79, 161, 157);
}


@media (max-width: 350px) {
  .resp-font-3 {
    font-size: 12vw !important;
  }
}

.resp-font {
  font-size: 20px;
}

@media (max-width: 350px) {
  .resp-font {
    font-size: 5vw;
  }
}

/* Default section height for devices smaller than 992px */
#section, #section-2 {
  height: 100% !important;
}

/* Default section height for devices larger than 992px */
@media (min-width: 992px) {
  #section, #section-2 {
    height: 100vh;
  }
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.8);
}

/******************************************************************************/
/* Footer */
#footer-1 {
  background-color: #071924;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Row footer */
#row-footer {
  background-color: #071924;
  color: #F8F0E3;
  max-width: 1400px;
}

/* Navigation footer */
#navigation-2 {
  display: inline-block;
}

/* Navigation item footer */
#nav-item-2 {
  display: inline-block;
  padding: 5px;
}

/* Navigation link footer */
#nav-link-2 {
  display: block;
}

/* Color of the navigation and social media links - footer - when hovered*/
#nav-link-2:hover, 
#nav-link-3:hover {
  color: #bbf8f3;
  transform: scale(1.1);
}

/* Color of the navigation and social media links - footer - when clicking*/
#nav-link-2:active,
#nav-link-3:active {
  color: #bbf8f3;
}

/* Color of the navigation and social media links - footer - after clicking*/
#nav-link-2:focus,
#nav-link-3:focus {
  color: #bbf8f3;
}

/* Right footer max-width */
#right-footer {
  max-width: 500px;
}

#omegaskan-banner-footer {
  height: 100px;
}

/* Default section height for devices larger than 992px */
@media (max-width: 992px) {
  #omegaskan-banner-footer {
    height: 20vw !important;
  }
}

.resp-font-2 {
  font-size: 15px;
}

@media (max-width: 350px) {
  .resp-font-2 {
    font-size: 5vw;
  }
}