/* Default background image height smaller than 992px */
#intro-main {
    height: 300px;
    min-width: 100vw;
}

/* Background image height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-main {
      height: 400px;
}
}

/* Exam heading animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Exam heading opacity and animation time */
#exam-heading {
    background-color: rgba(0, 0, 0, 0.7);
    animation: slideInFromLeft 0.9s ease-in-out; 
}
/******************************************************************************/

/* Section - photo + description */
.section {
    background-color: #040409;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Default section height for devices smaller than 992px */
.section {
    height: 100%;
}

/* Section height for devices larger than 992px */
@media (min-width: 992px) {
.section {
    min-height: 100vh;
}
}

/* Examination icon */
#examination-icon {
    max-height: 100px; 
    display: inline-block;
}

/* Examination heading */
#examination-heading {
    display: inline-block;
}

.resp-font-4 {
    font-size: 30px;
  }
  
@media (max-width: 350px) {
    .resp-font-4 {
        font-size: 9vw;
    }
    }

.resp-font-5 {
    font-size: 20px;
  }
  
@media (max-width: 350px) {
    .resp-font-5 {
        font-size: 7vw;
    }
    }

.resp-font-6 {
    font-size: 25px;
    }

@media (max-width: 350px) {
    .resp-font-6 {
        font-size: 6vw;
    }
}

/* Row - photo + description */
.row {
    background-color: #040409;
    color: #F8F0E3;
    max-width: 1400px;
}

/* Max examination photo width */
#examination-photo-column {
    max-width: 600px;
}

/* Image-overlay when hovered */
.image-container {
    position: relative;
    display: inline-block;
}

/* Image-overlay when hovered */
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Image-overlay when hovered */
.image-overlay:hover {
    opacity: 1;
}

/* Image-overlay when hovered */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    font-size: 23px;
}

/* Image-overlay font size for devices smaller than 768px */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 16px;
    }
    #exam-icon-heading {
        flex-direction: column;
    }
}

/* Custom button size lg */
.btn-lg {
    padding: 15px 40px !important;
    font-size: 15px !important;
  }

@media (max-width: 350px) {
    .btn-lg {
        font-size: 4vw !important;
        padding: 4vw 3vw !important;
    }
}
