/* Default background image height smaller than 992px */
#intro-main {
    height: 300px;
}

/* Background image height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-main {
      height: 400px;
}
}

/* Exam heading animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Exam heading opacity and animation time */
#exam-heading {
    background-color: rgba(0, 0, 0, 0.7);
    animation: slideInFromLeft 0.9s ease-in-out; 
}
/******************************************************************************/

/* Section background */
.section {
    background-color: #040409;
    
}

/* Max width of content */
#prices {
    max-width: 1400px;
    margin: 0 auto;
}

/* Examination icon size for devices larger than 768px*/
#examination-icon {
    max-width: 100px; 
    display: inline-block;
}

/* Accordion heading font size for devices larger than 768px */
.accordion-button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px !important;
    color: #F8F0E3 !important;
}

/* Active accordion-button background color */
.accordion-button:not(.collapsed) {
    background-color: #071924 !important; 
  }

/* Accordion heading font size and examination icon size
for devices smaller than 768px */
@media (max-width: 768px) {
    .accordion-button {
        font-size: 30px !important;
    }
    #examination-icon {
        max-width: 60px;
    }
}

/* Accordion arrow color */
.accordion-button:after {
    background-image: 
    url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23bbf8f3'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") 
    !important;
}

/* Custom table head */
.table-head {
    color: rgb(79, 161, 157) !important;
    font-size: 40px;
}

/* Custom table body*/
.table-body {
    color: #F8F0E3 !important;
    font-size: 30px;
}

.table tbody tr:hover {
    background-color:#071924;
  }

/* Table head and body font size for devices smaller than 768px */
@media (max-width: 768px) {
    .table-head {
        font-size: 25px;
    }

    .table-body {
        font-size: 18px;
    }
}
