/* OmegaSkan banner zoom-in animation */
@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* Banner max-width and animation time */
#omegaskan-banner {
  width: 80%;
  max-width: 1300px;
  animation: zoomIn 0.7s ease-in-out;
}
