/* Default background image height smaller than 992px */
#intro-main {
    height: 300px;
}

/* Background image height for devices larger than 992px */
@media (min-width: 992px) {
    #intro-main {
      height: 400px;
}
}

/* Exam heading animation */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* Exam heading opacity and animation time */
#exam-heading {
    background-color: rgba(0, 0, 0, 0.7);
    animation: slideInFromLeft 0.9s ease-in-out; 
}
/******************************************************************************/

/* Row - contact form and map */
.row {
  background-color: #040409;
  color: #F8F0E3;
  max-width: 1400px;
}

@media (max-width: 350px) {
  .row-contact-form {
    display: flex;
  }
}
